// Override default variables before the import
$body-bg: #E86767;
$button-color: #FD8585;
$primary: #FD8585;
$button-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$button-radius: 45px;
$font: "Arial Black", Arial, Helvetica, sans-serif;
$font-color: #000;
$hover-color: #fff;
$active-color: #FFFC8D;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/**
 * 1. Basic styles
 * 2. Navigation Component
 * 3. DoQuiz Component
 * 4. Quiz Component
 * 5. LoginPage Component
 */


// Basic Styles
body {

    color: $font-color;
    font-family: $font;
}
.container {
    max-width: 800px;
}

.button {
    background-color: $button-color;
    color: $font-color;
    font-family: $font;
    border-radius: $button-radius;
    box-shadow: $button-shadow;
    border: none;
    
    
    a {
        color: $font-color;
        font-family: $font;
        text-decoration: none;
    }
}

.button:hover {
    background-color: #FFA3A3;
    transform: translateY(-7px);
  }


// ---- Navigation Component ----
#navigation {
    a {
        color: $font-color;
        &:hover {
            color: $hover-color;
        }
    }
    #logoutLink:hover {
        color: $hover-color
    }
}

// ---- DoQuiz Component ----
#doQuiz {
    margin: 0.5rem;
    h1 {
        text-align: center;
    }
    
    .questions {
        margin-bottom: 0.5rem;

        text-align: center;

        .doQuestionTitle{
            background-color: $button-color;
            border-radius: 15px;
            font-size: 1.5rem;
            margin: 2.5rem 1rem 0 1rem;
            padding: 1.5rem 1rem;
            
        }

        ul {
            margin-top: 0.5rem;
        }
        .quizAnswers{
            list-style: none;
            margin-top: 1rem;
            font-size: 1.5rem;

            &.active {
                color: $active-color
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    #nextQuestion {
        font-size: 4rem;
        color: $active-color;

        &:hover {
            cursor: pointer;
        }
    }

    .buttonContainer {
        display: flex;
        margin-top: 1rem;
        height: 60px;
        justify-content: center;

        .button {
            justify-self: center;
        }
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        img {
            max-width: 40%;
        }
    }

}

.scoreScreen {
    margin: 0.5rem 2.5rem;

    .scoreTitle {
        font-size:  1.2rem;
        margin-top: 1.5rem;
        text-align: center;
    }

    .score {
        text-align: center;
        color: $active-color;
        margin-top: 1.5rem;
        margin-bottom: 0;
        font-size: 3.5rem;
        text-shadow: $button-shadow;
    }

    .logo {
        max-width: 500px;
    }
    div {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
}

.doQuizTitle {
    text-align: center;
    margin-top: 2.5rem;
}

#submitAnswerButton {
    margin-bottom: 0.5rem;
}

// ---- Quiz Component ----
#quizStyle {
    h1 {
        color: $font-color;
        margin-bottom: 1.5rem;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        img {
            max-width: 40%;
        }
    }
    
}

#listStyle {
    a {
        text-decoration: none;

        color: $font-color;

    }
    a:hover {
        color: $hover-color;
    }

}

#answerTitle {
    background-color: #FFFA8D;
    border: none;
}

::placeholder {
    color: $font-color !important;
}

#questionTitle {
    background-color: #CBF2DA;
    border: none;
}

#quizTitle {
    background-color: #E3CAF0;
    border: none;
}

.input-group-text {
    background: transparent;
    border: none;
}

#points {
    border-radius: 0.25rem;
}

#answerTitle {
    border-radius: 0.25rem;
}

#minusCircle {
    color: black;
}

#isTrue {
    box-shadow: $button-shadow;
}

// ---- LoginPage Component ----
#login {
    h1, h2 {
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.login-logo {
    width: 60%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.google {
    width: 14%;
    height: auto;
    margin-right: 0.6em;
    
}

.qg1-logo {
    width: 20%;
    height: auto;
    display: block;
    margin: 3em auto 1em auto;
}

.google-btn {
    width: 100%;
    max-width: 295px;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

#isTrue {
    box-shadow: $button-shadow;
}

#addQuestionIcon {
    color: white;
}

#addQuestionIcon:hover {
    cursor: pointer;
}
