// Override default variables before the import
$body-bg: #333;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    color: green;
}
.container {
    max-width: 800px;
}
#doQuiz {
    margin: 0.5rem;
    h1 {
        text-align: center;
    }

    .questions {
        margin-bottom: 0.5rem;
    }
}

#quizStyle {
    h1 {
        color: white;
        margin-bottom: 1.5rem;
    }

}

#listStyle {
    a {
        text-decoration: none;
        color: green;
    }
    a:hover {
        color: #333;
    }
}

#logoutLink:hover {
    color: lightgrey;
}

#submitAnswerButton {
   margin-bottom: 0.5rem;
}